<%- if devise_mapping.omniauthable? %>
  <div class="or-container"><div class="line-separator"></div> <div class="or-label">or login with</div><div class="line-separator"></div></div>
  <div class="d-flex justify-content-around mt-3">
    <%- resource_class.omniauth_providers.each do |provider| %>
      <% if provider.to_s == "google_oauth2" %>
        <div>
          <%= button_to(image_tag('google-logo.png').html_safe,
                        omniauth_authorize_path(resource_name, provider),
                        method: :post, class: "btn btn-lg btn-logo btn-block text-uppercase btn-outline") %>
        </div>
      <% end %>
      <% if provider.to_s == "github" %>
        <div>
          <%= button_to(image_tag('GitHub-Mark-32px.png').html_safe,
                        omniauth_authorize_path(resource_name, provider),
                        method: :post, class: "btn btn-lg btn-logo btn-block text-uppercase btn-outline") %>
        </div>
      <% end %>
      <% if provider.to_s == "facebook" %>
        <div>
          <%= button_to(image_tag('social_facebook_box_blue_256_30649.png').html_safe,
                        omniauth_authorize_path(resource_name, provider),
                        method: :post, class: "btn btn-lg btn-logo btn-block text-uppercase btn-outline") %>
        </div>
      <% end %>
    <% end %>
  </div>
<% end %>
