<div class="container main-wrapper">
  <div class="row justify-content-center">
    <div class="col-xl-10">
      <div class="card border-0">
        <div class="card-body p-0">
          <div class="row no-gutters">
            <div class="col-lg-6">
              <div class="p-5">
                <div class="mb-5">
                  <h3 class="h4 font-weight-bold text-theme">Create your own projects!</h3>
                </div>

                <h6 class="h5 mb-4">Welcome!</h6>
                <p class="text-muted mt-4 mb-3">
                  Easily create projects, assign tasks and prioritize what's most important to you.
                  Set project due date, complexity and manage your progress.
                </p>
                <p class="text-muted mt-4 mb-3">Please log in to continue.</p>
                <%= link_to 'Login', "/users/sign_in", class: "btn btn-theme" %>
              </div>
            </div>

            <div class="col-lg-6 d-none d-lg-inline-block">
              <div class="account-block rounded-right">
                <div class="overlay rounded-right"></div>
                <div class="account-testimonial">
                  <h4 class="text-white mb-4">Make your own projects easily!</h4>
                </div>
              </div>
            </div>
          </div>

        </div>
        <!-- end card-body -->
      </div>
      <!-- end card -->
      <p class="text-muted text-center mt-3 mb-0">Don't have an account? <a href="/users/sign_up" class="text-primary ml-1">register</a></p>
      <!-- end row -->
    </div>
    <!-- end col -->
  </div>
  <!-- Row -->
</div>

