.home-page {
  background-color: #eee;
  height: calc(100vh - 128px);
}
.table-scroll {
  position: relative;
  height: 400px;
  overflow: auto
}
.back-ground-header {
  background-color: #eee;
}

.completed-task {
  background-color: #eee;
  text-decoration: line-through;
}
.CircularProgressbar-text {
  fill: #3e98c7;
  font-size: 30px !important;
  dominant-baseline: middle;
  text-anchor: middle;
}

.main-wrapper {
  margin-top: 60px;
}

body{
  background: #eee;
}
.account-block {
  padding: 0;
  background-image: url('projects.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100%;
  position: relative;
}
.account-block .overlay {
  -webkit-box-flex: 1;
  -ms-flex: 1;
  flex: 1;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.4);
}
.account-block .account-testimonial {
  text-align: center;
  color: #fff;
  position: absolute;
  margin: 0 auto;
  padding: 0 1.75rem;
  bottom: 3rem;
  left: 0;
  right: 0;
}

.text-theme {
  color: #5369f8 !important;
}

.btn-theme {
  background-color: #5369f8;
  border-color: #5369f8;
  color: #fff;
}

.notice {
  color: green;
}

.alert {
  color: red;
}

.btn-logo {
  color: #545454;
  background-color: #ffffff;
  box-shadow: 0 1px 2px 1px #ddd;
}


.or-container {
  align-items: center;
  color: #ccc;
  display: flex;
  margin: 25px 0;
}

.line-separator {
  background-color: #ccc;
  flex-grow: 5;
  height: 1px;
}

.or-label {
  flex-grow: 1;
  margin: 0 15px;
  text-align: center;
}

.complexity {
  margin-left: 30px;
}

.col-head {
  min-width: 120px;
}